

	<% if training.t_answers.where(user_id: current_user.id).first != nil %>
		<% if training.t_answers.where(user_id: current_user).first.answer == training.answer %>
		<div id="t_answer_<%=training.t_answers.where(user_id: current_user.id).first.id %>" class="correct">
		Correct!  Good job!
		</div>

		<% else %>

		<div id="t_answer_<%=training.t_answers.where(user_id: current_user.id).first.id %>">
		Try Again!
		</div>

		<% end %></br>
	<% end %>



<% if training.t_answers.where(user_id: current_user.id).count > 0  %>

<%= training.question %></br>

<%= render training.t_answers.where(user_id: current_user.id).first %>

<% else %>

<%= render partial: "t_answers/form", locals: {training_id: training.id} %>

<% end %>


