<h2><%= @evaluation.name %></h2>


</br></br>

<table>
<tr> 
<td>Criterion</td>
<td>Evaluating</td>
<td>Out of</td>
<td>Percentage of Total</td>
</tr>
<%= render @evaluation.criteria %>
</table>

<%= link_to "Add Criterion", new_evaluation_criterium_path(@evaluation) %>


<% crithash = [] %>
<% @evaluation.criteria.each do |crit| %>
<% crithash += [[crit.name, crit.percentage]] %>
<% end %>

</br>


<% if @evaluation.hundred == 100 %>
<%= "This rubric adds up to 100%" %>
<div class="graph">
<%= pie_chart crithash %></div>
<% else %>
<%= "This rubric does not add up to 100%." %>
	<% if @evaluation.hundred > 100 %>
	<%= "Subtract #{@evaluation.hundred.round - 100}%" %>
	<% else %>
	<%= "Add #{100-@evaluation.hundred}%" %>
	<% end %>
<% end %>

