

<% if @practice_exercise == nil %>

<% x = current_user.practice_exercises.build %>

<% else %>

<% x = @practice_exercise %>

<% end %>

<%= form_for(x) do |t| %>


  <div class="field">
    <%= t.label :name %><br>
    <%= t.text_field :name %>
  </div>

   <div class="field">
    <%= t.label :description %><br>
    <%= t.text_field :description, size: "70%" %>
  </div>

<div class="field">
  <%= t.label :assignment %><br>
 <%= t.grouped_collection_select :assignment,
    current_user.classrooms.all, :assignments, :school,
    :id, :title %>
</div>

<div class="field">
  <%= t.label :mistake_ids %><br>
<%= t.collection_select :mistake_ids,
    Mistake.all,
    :id , :name, {include_blank: false}, {:multiple => true } %>
  </div>


</br>
  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>



<div id="sign_up_box"

<% if @practice_exercise == nil %>

<% x = current_user.practice_exercises.build %>

<% else %>

<% x = @practice_exercise %>

<% end %>

<%= form_for(x) do |t| %>


  <div class="field">
    <div class="sign_in_form_label">
    <%= t.label :name %><br>
    </div>
    <%= t.text_field :name, :class=>"sign_in_up" %>
  </div>

  </br>

   <div class="field">
    <div class="sign_in_form_label">
    <%= t.label :description %><br>
    </div>
    <%= t.text_field :description, size: "70%", :class=>"sign_in_up" %>
  </div>

  </br>

<div class="field">
  <div class="sign_in_form_label">
  <%= t.label :assignment %><br>
  </div>
 <%= t.grouped_collection_select :assignment,
    current_user.classrooms.all, :assignments, :school,
    :id, :title %>
</div>

</br>

<div class="field">
  <div class="sign_in_form_label">
  <%= t.label :mistake_ids %><br>
  </div>
<%= t.collection_select :mistake_ids,
    Mistake.all,
    :id , :name, {include_blank: false}, {:multiple => true } %>
  </div>


</br>
  <div class="actions">
    <%= t.submit "Create/Update", :class=>"submit_class_button" %>
  </div>
<% end %>


</div>

