
<%= form_for([@evaluation, @criterium]) do |f| %>
  <% if @criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterium.errors.count, "error") %> prohibited this criterion from being saved:</h2>

      <ul>
      <% @criterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level %><br>
    <%= f.select :level, Criterium.levels.keys %>
  </div>

   <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Percentage of final grade" %><br>
    <%= f.text_field :percentage %>
  </div>

   <div class="field">
    <%= f.label "Points" %><br>
    <%= f.text_field :outof %>
  </div>


</br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<div id="sign_up_box">

<%= form_for([@evaluation, @criterium]) do |f| %>
  <% if @criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterium.errors.count, "error") %> prohibited this criterion from being saved:</h2>

      <ul>
      <% @criterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="sign_in_form_label">
    <%= f.label :level %><br>
    </div>
    <%= f.select :level, Criterium.levels.keys %>
  </div>

  </br>

   <div class="field">
    <div class="sign_in_form_label">
    <%= f.label "Criterium" %><br>
    </div>
    <%= f.text_field :name, :class => "sign_in_up" %>
  </div>

   </br>

  <div class="field">
    <div class="sign_in_form_label">
    <%= f.label "Percentage of final grade" %><br>
    </div>
    <%= f.text_field :percentage, :class => "sign_in_up" %>
  </div>

   </br>

   <div class="field">
    <div class="sign_in_form_label">
    <%= f.label "Points" %><br>
    </div>
    <%= f.text_field :outof, :class => "sign_in_up" %>
  </div>


</br>
  <div class="actions">
    <%= f.submit "CREATE CRITERIUM", :class=>"submit_class_button" %>
  </div>
<% end %>


</div>

