<<<<<<< HEAD


<%= t_answer.answer %>


<%= form_for t_answer do |t| %>

 



 <div class="field">
    <%= t.label :answer %><br>
    <%= t.text_field :answer %>
  </div>

 




</br>
  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>




=======
<%= form_for t_answer, remote: true do |t| %>

 

 <div class="field">
    <%= t.text_field :answer %>
  </div>


</br>
  <div class="actions">
    <%= t.submit "Answer" %>
  </div>
<% end %>




>>>>>>> fc43d6ed5e3286748e0fc862c39bcb2746308c94
</br>