

<%= t_answer.answer %>


<%= form_for t_answer do |t| %>

 



 <div class="field">
    <%= t.label :answer %><br>
    <%= t.text_field :answer %>
  </div>

 




</br>
  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>




</br>