<<<<<<< HEAD

Correct Answers: <%= @training_set.correct %> </br>
Incorrect Answers: <%= @training_set.incorrect %> </br>

<%= @training_set.training_ids %>

</br>


</br>


_____________________</br>
	<%= render @training_set.trainings %>


=======

Correct Answers: <div id="correct_answers"><%= @training_set.correct %></div> </br>

<% @training_set.training_ids %>

</br>


</br>


_____________________</br>
	<%= render @training_set.trainings.order(:id) %>

______________________</br>

<%= link_to "Back to Essays", essays_path %>
>>>>>>> fc43d6ed5e3286748e0fc862c39bcb2746308c94
