
Assignments:

<table class="table-striped">

<tr><th>Students</th>
<% @classroom.assignments.each do |assign| %>
	<th><%= assign.title %></th>
<% end %>
</tr>


<% @class_list.each do |s| %>
<tr>

	<td><%= link_to "#{s.first_name} #{s.last_name}", classroom_user_path(@classroom, s) %></td>
	<% @classroom.assignments.each do |assign| %>
		
			<% if s.essays.where(assignment_id: assign.id, draftnum: 1).count > 0  %>
			<td>Grade: 

				<% originalessay = s.essays.where(assignment_id: assign.id, draftnum: 1).first %>

						<% if originalessay.studentgrade != nil %>
						<%= originalessay.studentgrade.round(2) %>%</br>
						<%= (originalessay.studentgrade/100 * 20).round(2) %>/20
						<% end %></br>

						<% if Essay.where(trackernum: originalessay.id).count > 1 %>
						<% seconddraft = Essay.where(trackernum: originalessay.id).last %>
						Second Draft: 
								<% if originalessay.body == seconddraft.body %>
								<%= link_to "No changes made.", essay_path(seconddraft) %>
								<% elsif originalessay.body != seconddraft.body %>
								<%= link_to "Worked on Second draft", essay_path(seconddraft) %>
								<% end %>
						<% end %>
			</td>
			<% else %>
			<td>	</td>
			<% end %>
	
	<% end %>

</tr>
<% end %>


</table>


</br>
</br>
Practice Exercises:

<table class="table-striped">

<tr><th>Students</th>
<% @classroom.practice_exercises.each do |pe| %>
	<th><%= pe.name %></th>
<% end %>
</tr>


<% @class_list.each do |s| %>
<tr>
	<td><%= "#{s.first_name} #{s.last_name}" %></td>
	<% @classroom.practice_exercises.each do |pe| %>

	<% attempts = 0 %>
  	<% correct_answers = 0 %>
 	<% pe.pe_questions.each do |ques| %>
	    <% if ques.pe_answers.where(user_id: s.id, correct: 2).count>0 %>
	     	<% correct_answers += 1 %>
	     	<% attempts += ques.pe_answers.where(user_id: s.id, correct: 2).count %>
	    <% elsif ques.pe_answers.where(user_id: s.id, correct: 3).count > 0 %>
	      <% attempts += ques.pe_answers.where(user_id: s.id, correct: 3).count %> 
	    <% elsif (ques.pe_answers.where(user_id: s.id, correct: 2).count + ques.pe_answers.where(user_id: current_user.id, correct: 1).count) > 0 %>
	      <% attempts += (ques.pe_answers.where(user_id: s.id, correct: 2).count + ques.pe_answers.where(user_id: current_user.id, correct: 1).count) %>
	      <% end %>
    <% end %>

    <td>Answers: <%= attempts %></br>Correct Answers:<%= "#{correct_answers}/#{pe.pe_questions.count}" %></td>


	<% end %>

</tr>
<% end %>


</table>
=======
<div class="pinktext">Assignments:</div>

<table class="table-striped">

<tr><th>Students</th>
<% @classroom.assignments.each do |assign| %>
	<th><%= assign.title %></th>
<% end %>
</tr>


<% @class_list.each do |s| %>
<tr>

	<td><%= link_to "#{s.first_name} #{s.last_name}", classroom_user_path(@classroom, s) %></td>
	<% @classroom.assignments.each do |assign| %>
		
			<% if s.essays.where(assignment_id: assign.id, draftnum: 1).count > 0  %>
			<td>Grade: 

				<% originalessay = s.essays.where(assignment_id: assign.id, draftnum: 1).first %>

						<% if originalessay.studentgrade != nil %>
						<%= originalessay.studentgrade.round(2) %>%</br>
						<%= (originalessay.studentgrade/100 * 20).round(2) %>/20
						<% end %></br>

						<% if Essay.where(trackernum: originalessay.id).count > 1 %>
						<% seconddraft = Essay.where(trackernum: originalessay.id).last %>
						Second Draft: 
								<% if originalessay.body == seconddraft.body %>
								<%= link_to "No changes made.", essay_path(seconddraft) %>
								<% elsif originalessay.body != seconddraft.body %>
								<%= link_to "Worked on Second draft", essay_path(seconddraft) %>
								<% end %>
						<% end %>
			</td>
			<% else %>
			<td>	</td>
			<% end %>
	
	<% end %>

</tr>
<% end %>


</table>


</br>
</br>
<div class="pinktext">
Practice Exercises:
</div>

<table class="table-striped">

<tr><th>Students</th>
<% @classroom.practice_exercises.each do |pe| %>
	<th><%= pe.name %></th>
<% end %>
</tr>


<% @class_list.each do |s| %>
<tr>
	<td><%= "#{s.first_name} #{s.last_name}" %></td>
	<% @classroom.practice_exercises.each do |pe| %>

	<% attempts = 0 %>
  	<% correct_answers = 0 %>
 	<% pe.pe_questions.each do |ques| %>
	    <% if ques.pe_answers.where(user_id: s.id, correct: 2).count>0 %>
	     	<% correct_answers += 1 %>
	     	<% attempts += ques.pe_answers.where(user_id: s.id, correct: 2).count %>
	    <% elsif ques.pe_answers.where(user_id: s.id, correct: 3).count > 0 %>
	      <% attempts += ques.pe_answers.where(user_id: s.id, correct: 3).count %> 
	    <% elsif (ques.pe_answers.where(user_id: s.id, correct: 2).count + ques.pe_answers.where(user_id: current_user.id, correct: 1).count) > 0 %>
	      <% attempts += (ques.pe_answers.where(user_id: s.id, correct: 2).count + ques.pe_answers.where(user_id: current_user.id, correct: 1).count) %>
	      <% end %>
    <% end %>

    <td>Answers: <%= attempts %></br>Correct Answers:<%= "#{correct_answers}/#{pe.pe_questions.count}" %></td>


	<% end %>

</tr>
<% end %>


</table>

