



<h2><%= @assignment.title %></h2><%= link_to "Edit Assignment", edit_classroom_assignment_path(@classroom, @assignment) %>




<%-# __________________________________________________________________________ -%>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#essays">Student Essays</a></li>
  <li><a data-toggle="tab" href="#rubric">Rubric</a></li>
  <li><a data-toggle="tab" href="#menu1">Language Errors</a></li>
  <li><a data-toggle="tab" href="#studentgrades">Student Grades</a></li>
</ul>



<div class="tab-content">


<%-# __________________________________________________________________________ -%>

<div id="essays" class="tab-pane fade in active">


<div class="container-fluid" id="waiting_feedback">
			<h4> Waiting for Feedback </h4>
			<table>
			<% @class_list.each do |s|%>
				<% s.essays.where(assignment_id: @assignment.id).each do |e| %>
					<% if e.essay_status == 'Waiting for feedback' %>
					<tr><td><%=s.first_name %>
					<%=s.last_name %></td>
					
					<% if current_user.id == @classroom.user_id %>
					<td><%= link_to 'Correct essay', essay_create_grade_template_path(e) %></td>
					</tr><% end %>
					<% end %>

				<% end %>
			<% end %>
			</table>


</div>

<div class="container-fluid" id="feedback_given">
			<h4> Feedback Given </h4>

			<table>
			<% @class_list.each do |s|%>
					<% s.essays.where(assignment_id: @assignment.id).where(draftnum: 1).each do |e| %>
					<% if e.essay_status == 'Feedback' %>
					<tr>
					<td><%= link_to "#{s.first_name} #{s.last_name}", essay_path(e) %></td></tr>
					<% end %>
				<% end %>
			<% end %>
			</table>
</div>




</div>


<%-# __________________________________________________________________________ -%>

  	<div id="rubric" class="tab-pane fade">

<div class="indextables">
	
<h3>Rubric: <%= Evaluation.find(@assignment.evaluation).name %></h3>

<table>
<tr><td>Name</td><td>Level</td><td>Points</td><td>Percentage of total</td></tr>
<% Evaluation.find(@assignment.evaluation).criteria.each do |crit| %>
<tr><td><%= crit.name %></td>
<td><%= crit.level %></td>
<td><%= crit.outof %></td>
<td><%= crit.percentage %></td></tr>
<% end %>
</table>
</div>


<% crithash = [] %>
<% Evaluation.find(@assignment.evaluation).criteria.each do |crit| %>
<% crithash += [[crit.name, crit.percentage]] %>
<% end %>

<div class="graph">
<%= pie_chart crithash %></div>



</div>

<%-# __________________________________________________________________________ -%>
<div id="menu1" class="tab-pane fade">

<div class="indextables">
<h3>Language Errors: </h3>

<table>
<% Mistake.all.each do |mis| %> 
	<% if Sentence.includes(:mistakes).where(mistakes: { id: mis.id }).where(essay_id: Essay.where(assignment_id: @assignment.id)).count > 0  %>

	<tr><td><%= mis.category %></td>
	<td><%= mis.name %></td>
	<td><%= Sentence.includes(:mistakes).where(mistakes: { id: mis.id }).where(essay_id: Essay.where(assignment_id: @assignment.id)).count %></td>
	<td><% Sentence.includes(:mistakes).where(mistakes: { id: mis.id }).where(essay_id: Essay.where(assignment_id: @assignment.id)).each do |sen| %>
	<%= sen.content %></br> 
	<% end %></td></tr>
	<% end %>
	
<% end %>

</table>
</div>


</div>



<%-# __________________________________________________________________________ -%>

<div id="studentgrades" class="tab-pane fade">

<div class="indextables">
</br>
<h3>Classroom Average:  <%= @assignment.classroom_average.round(2) %>%</h3>
</br>

<h4>Student Grades: </h4>


<table class="table-bordered">
	
<% User.where(classroom: @classroom.id).each do |stu| %>
	<tr>

	<td><%= stu.first_name + " " + stu.last_name %></td>
			<% if Essay.where(user_id: stu.id, assignment_id: @assignment.id).first != nil %>
			<td><%= Essay.where(user_id: stu.id, assignment_id: @assignment.id).first.studentgrade.round(2) %></td>
			<% else %>
			<td>-----</td>
			<% end %>
		</tr>

<% end %>

</table>

</div>

</div>
