

<p id="sentence_mistakes">



<% if current_user.role == 'Student' && @essay.essay_status == 'In progress' %>

<div class="sentences" id='sentence_<%=sentence.id %>'>
  <%= sentence.content %>

</div>
<% end %>


<%-# __________________________________________________________________________ -%>


<% if current_user.role == 'Student' && @essay.essay_status == 'Feedback' %>

          <div id='sentence_<%=sentence.id %>'><p>

          <% sentenceindex = @paragraph.sentences.index(sentence) %>
          <% originalessay = Essay.find(@essay.trackernum) %>
          <% original_sentence = originalessay.sentences[sentenceindex] %>
          
          <table>
          <tr><th>Category</th><th>Mistake</th><th>Problem Words</td></tr>
          <tr>

          <% original_sentence.mistake_ids.each do |mis| %>
              <td><%= Mistake.find(mis).category %></td> 
              <td><div class="mistake">
              <%= link_to Mistake.find(mis).name, Mistake.find(mis), :target=> '_blank' %></div></td>
              <% if original_sentence.words_in_mistakes.where(mistake_id: mis).count > 0 %>
                <% original_sentence.words_in_mistakes.where(mistake_id: mis).each do |wim| %>

                 <% if wim.mistake_words != nil %>
          
                    <% i = 0 %>
                     <td><% sentence.word_list.each do |w| %>
                        <% if wim.mistake_words.include?("#{i}") %>
                          <div class="highlight"><%= w %></div>
                          <% else %>
                          <%= w %>
                        <% end %>
                        <% i += 1 %>
                     <% end %></td></tr>
                  
                  <% else %>
                  <td></td></tr>
  
                  <% end %></br>


                <% end %>
              <% end %>
          <% end %>

        </table>

        </br>
          <div class="comment"><%= original_sentence.content %></div>
          
          		
          		<%= form_for ([@essay, @paragraph, sentence]) do |f| %>


          		<div class="field">
              		<%= f.text_area :content, size: "100x3" %>
            		</div>



          		<div class="actions">
                  <%= f.submit "Edit Sentence"%>
             		</div>
           
                </div>
 		         <% end %>

        
</p>
<% end %>

<%-# __________________________________________________________________________ -%>

<% if current_user.role == 'Teacher' && @essay.essay_status == 'Waiting for feedback'%>


<div class="sentence_mistake_options" id='sentence_<%=sentence.id %>'>
<%= sentence.content %>
</div>
    <div class="mistake_options">

      <%= form_for ([@essay, @paragraph, sentence]) do |f| %>

                 <% i = 0 %>
                
                
                 <% Mistake.categories.each do |cat| %>
                  <div class="mistake_categories">
                 <%= cat.first %>
                
                <div class="mistake_names">
                 <%= f.collection_check_boxes :mistake_ids, Mistake.where(category: i), :id, :name do |b| %>
                
                     </br>
                      <%= b.check_box(class: "check_box")%>
                      <%= b.label %>


                 <% end %>
                    <% i+=1 %>

                    </div>
                    </div>
                 <% end %>

      

            <div class="comment">
             Comment
              <div class="comment_field">
                    <div class="field">
                    <%= f.text_area :comment, size: "50%" %>
                    </div>
              </div>
            </div>
        
          <div class="actions">
                    <%= f.submit "Give feedback"%>
          </div>

          <% end %>
          
          <%= render sentence.words_in_mistakes %>
            
 
    
      </div>


 <% end %>




 <%-# __________________________________________________________________________ -%>


<% if current_user.role == 'Teacher' && @essay.essay_status == 'Feedback' %>



 <div id="<%="sen#{sentence.id}" %>" class="tab-pane fade">

          
          <% sentence.mistake_ids.each do |mis| %>
              <div class="mistake">
              <%= link_to Mistake.find(mis).name, Mistake.find(mis).link, :target=> '_blank' %></div>
          <% end %>
          <div class="comment"><%= sentence.content %></div>
          <% sentence.words_in_mistakes.each do |wim| %>

          <% if wim.mistake_words != nil %>

          <%  wim.mistake_words.each do |mw| %>
          <% if mw != wim.mistake_words.last %>
          <%= sentence.word_list[mw.to_i].last %>
          <% end %>
         <% end %>   <% end %></br>
         <% end %>
              
            

        

</div>







<% end %>