
<div id="sign_in_box">

<% if @teacher_comment == nil %>

<% x = current_user.teacher_comments.build %>

<% else %>

<% x = @teacher_comment %>

<% end %>



<%= form_for(x) do |t| %>


  <div class="field">
    <div class="sign_in_form_label">
    <%= t.label :category %><br>
    </div>
    <%= t.text_field :category, :class => "sign_in_up" %>
  </div>

  </br>

   <div class="field">
   <div class="sign_in_form_label">
    <%= t.label :content %><br>
    </div>
    <%= t.text_field :content, :class => "sign_in_up" %>
  </div>


</br>
  <div class="actions">
    <%= t.submit "Create Teacher Comment", :class => "submit_class_button"  %>
  </div>



<% end %>


</div>



