<<<<<<< HEAD
<h1>Editing Mistake</h1>

<%= render 'form' %>

<%= link_to 'Show', @mistake %> 
<%= link_to 'Back', mistakes_path %>
=======
<div id="sign_in_box">

<%= render 'form' %>

</div>

<%= link_to 'Show', @mistake %> 
<%= link_to 'Back', mistakes_path %>
>>>>>>> fc43d6ed5e3286748e0fc862c39bcb2746308c94
