<% if current_user.role == 'Teacher' %>

<p id="notice"><%= notice %></p>

<h1>Mistakes</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mistakes.order(:category).each do |mistake| %>
      <tr>
        <td><%= mistake.category %></td>
        <td><%= mistake.name %></td>
        <td><%= link_to 'Show', mistake %></td>
        <td><%= link_to 'Edit', edit_mistake_path(mistake) %></td>
        <td><%= link_to 'Destroy', mistake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mistake', new_mistake_path %></br>

Download:
  <%= link_to "CSV", mistakes_path(format: "csv") %>

<% end %>
