
<% if current_user.role == 'Teacher' %>

<p id="notice"><%= notice %></p>

<div class="title">Mistakes</div>

</br></br>

<table class="table-striped">
  <thead>
    <tr>
      <th>CATEGORY</th>
      <th>NAME</th>
      <th>LINKS</th>
      <th>PRACTICE EXERCISES</th>
      <th># OF ERRORS</th>
      <th># OF PRACTICE EXERCISES</th>
      <th colspan="2" width="6%">EDIT/DESTROY</th>
    </tr>
  </thead>

  <tbody>
    <% @mistakes.order(:category).each do |mistake| %>
      <tr>
        <td><%= mistake.category %></td>
        <td><%= mistake.name %></td>
        <td><%= link_to 'Show', mistake %></td>
        <td><%= link_to 'Add Practice Exercise', mistake_trainings_path(mistake) %> </td>
        <td><%= Sentence.includes(:mistakes).where(mistakes: {id: mistake.id}).count %></td>
        <td><%= mistake.trainings.count %></td>
        <% if current_user.id == 1 %>
        
        <td><%= link_to image_tag("/assets/Errata_symbol_edit.png"), edit_mistake_path(mistake) %></td>
        <td><%= link_to image_tag("/assets/Errata_symbol_delete.png"), mistake, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.id == 1 %>
<div class="new_object_link">
<%= link_to 'New Mistake', new_mistake_path %>
</div>
</br>
<% end %>

Download:
  <%= link_to "CSV", mistakes_path(format: "csv") %>

<% end %>

