

<p>
  <strong>Category:</strong>
  <%= @mistake.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mistake.name %>
</p>


<table>
<tr>
<td>Description</td>
<td>Language</td>
<td>Link</td>
<td>Media</td>      

</tr>
<%= render @mistake.links %>
</table>



<% if current_user.role == 'Teacher' %>
<%= link_to 'Add link', new_mistake_link_path(@mistake) %>

</br></br>


<%= link_to 'Mistake Index', mistakes_path(@mistake) %>

<% end %>