


<tr id= "link_<%=link.id%>">


<td><%= link.description %></td> 
<td><%= link.language %></td> 

<td><%= link_to link.url, link.url, :target => '_blank' %></td>  
<td><%= Link.media_categories.keys.at(link.media) %></td>


<% if current_user.role == 'Teacher' %>
<td><%= link_to 'Edit', edit_mistake_link_path(@mistake, link) %></td>
<td><%= link_to 'Delete', mistake_link_path(@mistake, link), method: :delete, data: { confirm: 'Are you sure?' },  remote: true %></td>

<% end %>

</tr>




