<p id="notice"><%= notice %></p>

<p>
  <strong>Essay:</strong>
  <%= @correction.essay_id %>
</p>

<p>
  <strong>Mistake:</strong>
  <%= @correction.mistake_id %>
</p>


    <p>
      <b>Essay:</b>
      <%= @correction.essay.title %>
    </p>

   

 <% @correction.mistake_ids.each do |t| %>
<p>
<%= Mistake.find(t).category %>
</p>

 <% end %>

<%= link_to 'Edit', edit_correction_path(@correction) %> |
<%= link_to 'Back', corrections_path %>
