



<% if user_signed_in? %>

<div id="paragraph_view">

<%-# __________________________________________________________________________ -%>

<% if current_user.role == 'Teacher' && @essay.essay_status == 'Waiting for feedback' %>



<%= render "teacherwaitingforfeedback" %>



<%-# __________________________________________________________________________ -%>
<% elsif current_user.role == 'Teacher' && @essay.essay_status == 'Feedback' %>



<%= render "teacherfeedbackview" %>


<%-# __________________________________________________________________________ -%>
<% elsif current_user.role == 'Student' && @essay.draftnum == 2 %>


<%= render "studentfeedbackview" %>

<% elsif current_user.role == 'Student' && @essay.draftnum == 1 %>

<div class="essay_view">
<%= @paragraph.content %>
</div>

<% end %>


</div>



<% end %>



<% if current_user.role == "Teacher" && @essay.essay_status == "Waiting for feedback" %>
<div id="recurrent">
<%= check_box_tag "new_comment" %>New Recurrent Comment</br>

  <div id="sencomm"> 
<%= render 'teacher_comments/form' %>
  </div>
</div>

<% end %>

