<% if user_signed_in? %>



<%-# __________________________________________________________________________ -%>

<% if current_user.role == 'Teacher' && @essay.essay_status == 'Waiting for feedback' %>


  <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-toggle="tab" href="#home">Paragraph Evaluation</a></li>
  <% i = 1 %>
  <% @paragraph.sentences.each do |sen| %>
  <li><a data-toggle="tab" href=<%="#sen#{sen.id}"%>><%= "Sentence #{i}" %></a></li>
  <% i += 1 %>
  <% end %>
</ul>


<%= form_for @essay do |f| %>
  

    <%= f.hidden_field :id %>

<div class="tab-content">

  <div id="home" class="tab-pane fade in active">

    <div id="essay_view">
      <%= @paragraph.content %>
    </div>
    
    </br>
      <%= f.fields_for :paragraphs, @paragraph do |p| %>
        <%= p.hidden_field :id %>
        <%= p.label :comment %>
        <%= p.collection_select :comment, current_user.teacher_comments.order(:category), :content, :content , {:include_blank => ''}%>

      <% end %>

        <% @essay.grade_elements.each do |ge| %>


            <% if ge.paragraph_id == @paragraph.id %>

            <%= ge.name %>
          
                <%= f.fields_for :grade_elements, ge do |v| %>
                    <div class="rateYo"></div>
                    <%= v.text_field :teachereval %>
                    <%= v.hidden_field :outof %></br>
                <% end %>

            <% end %>
         
        <% end %>

        <h4>Language errors for Paragraph</h4></br>
          <% @paragraph.sentences.each do |sen| %>
            <% sen.mistakes.each do |mis| %>
            <td><%= mis.category %></td>:
            <td><%= mis.name %></td>
            </br>
            <% end %>
          <% end %>   

</div>
        
        
           
          <% @essay.sentences.where(paragraph_id: @paragraph.id).each do |sen| %>

        
          <div id="<%="sen#{sen.id}" %>" class="tab-pane fade">

             <div id="essay_view"> 
             <%= sen.content %>
           </div></br>

              
              <%= f.fields_for :sentences, sen do |s| %>


              <% i = 0 %>
                
                
                 <% Mistake.categories.each do |cat| %>
                  <div class="mistake_categories">
                 <%= cat.first %>
                
                <div class="mistake_names">
                 <%= s.collection_check_boxes :mistake_ids, Mistake.where(category: i), :id, :name do |b| %>
                
                     </br>
                      <%= b.check_box(class: "check_box")%>
                      <%= b.label %>


                 <% end %>
                    <% i+=1 %>

                    </div>
                    </div>
                 <% end %>
               </br></br></br>


                <%= s.collection_select :comment, current_user.teacher_comments.order(:category), :content, :content , {:include_blank => ''}%>

          
               
              
             

             </br>   
              


            <table class="table-bordered">
              <% sen.words_in_mistakes.each do |wim| %>

                  <%= f.fields_for :words_in_mistakes, wim do |w| %>
                  
                  <tr><td><%= Mistake.find(wim.mistake_id).name %></td>

                  

                  <td> <%= w.collection_check_boxes :mistake_words, sen.word_list, :first.to_s, :last do |b| %>
                         <div class="word_choice">
                            <div class="check_box">
                            <div class="hide_check"><%= b.check_box %></div>
                            <div class="check_words"><%= b.label %></div>
                            </div>
                          </div>
                   <% end %><td>
                   <td><%= link_to 'Delete', essay_paragraph_sentence_words_in_mistake_path(@essay, @paragraph, sen, wim), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
                  </tr>

              <% end %>


                  <% end %></table>
                
              <% end %></div>

          <% end %>
        

</div>

  <div class="actions">
    <%= f.submit "Save Changes"%>
  </div>

<% end %>

</br></br>
<%= check_box_tag "new_comment" %>Write New Comment</br>

  <div id="sencomm"> 
<%= render 'teacher_comments/form' %>
  </div>



<%-# __________________________________________________________________________ -%>
<% elsif current_user.role == 'Teacher' && @essay.essay_status == 'Feedback' %>

  <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-toggle="tab" href="#home">Paragraph Evaluation</a></li>
  <% i = 1 %>
  <% @paragraph.sentences.each do |sen| %>
  <li><a data-toggle="tab" href=<%="#sen#{sen.id}"%>><%= "Sentence #{i}" %></a></li>
  <% i += 1 %>
  <% end %>
</ul>


<div class="tab-content">

  <div id="home" class="tab-pane fade in active">

    <div id="essay_view">
      <%= @paragraph.content %>
    </div>


     <% @essay.grade_elements.each do |ge| %>


            <% if ge.paragraph_id == @paragraph.id %>

            <%= ge.name %>
            <%= ge.teachereval %>/<%=ge.outof %>

          </br>
          

            <% end %>
         
        <% end %>



</div>
  
<%= render @paragraph.sentences %>


</div>



<%-# __________________________________________________________________________ -%>
<% elsif current_user.role == 'Student' %>

<% original_essay = Essay.find(@essay.trackernum) %>
<% paragraphnum = @essay.paragraphs.order(:id).index(@paragraph) %></br>

Original Paragraph: </br>
<%= original_essay.paragraphs.order(:id)[paragraphnum].content %> </br></br>
Teacher comment:
<%= original_essay.paragraphs.order(:id)[paragraphnum].comment %> </br

<%= render @paragraph.sentences %>



<% end %>




<% end %>
