<<<<<<< HEAD
<% if user_signed_in? %>

<div id="paragraph_view">

<%-# __________________________________________________________________________ -%>

<% if current_user.role == 'Teacher' && @essay.essay_status == 'Waiting for feedback' %>


  <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-toggle="tab" href="#home">Paragraph Evaluation</a></li>
  <% i = 1 %>
  <% @paragraph.sentences.order(:id).each do |sen| %>
  <li class=<%="sen#{sen.id}"%> ><a data-toggle="tab" href=<%="#sen#{sen.id}"%>><%= "Sentence #{i}" %></a></li>
  <% i += 1 %>
  <% end %>
</ul>


<%= form_for @essay, remote: true do |f| %>
  

    <%= f.hidden_field :id, class: "essaynum", value: @essay.id %>

<div class="tab-content">

  <div id="home" class="tab-pane fade in active">

    <div id="essay_view">
      <%= @paragraph.content %>
    </div>
    
    </br>
      <%= f.fields_for :paragraphs, @paragraph do |p| %>
        
                <div class = "comments">
                <h4>Recurrent Comments:</h4>


                <%= p.hidden_field :id, class: "paranum" %>


                <% TeacherComment.where(user_id: current_user.id).group_by(&:category).each do |cat| %>
                  <div class="mistake_categories">
                 <%= cat.first %>
                
                <div class="mistake_names">
                 <%= p.collection_check_boxes :teacher_comment_ids, TeacherComment.where(category: cat.first), :id, :content do |b| %>
                
                     </br>
                      <%= b.check_box(class: "check_box")%>
                      <%= b.label %>


                 <% end %>
                    <% i+=1 %>

                    </div>
                    </div>
                 <% end %>
              

                <div class="field">
                </br></br>
                  <h4><%= p.label "Specific Comment:" %></h4>
                  <%= p.text_field :comment, size: "70%" %>
                </div>






 

      <% end %>
        <div class="star_eval">
        <% @essay.grade_elements.order(:id).each do |ge| %>


            <% if ge.paragraph_id == @paragraph.id %>
            <div class="stars">
            <%= ge.name %>
          
                <%= f.fields_for :grade_elements, ge do |v| %>
                    <div class="rateYo"></div>
                    <%= v.text_field :teachereval %>
                    <%= v.hidden_field :outof %></br>
                <% end %>
              </div>
            <% end %>
         
        <% end %>
      </div>
      </div>
        <div class="lang_errors">
        <h4>Language errors in Paragraph</h4>
        <div class="lang_errors_panel">
          <% @paragraph.sentences.order(:id).each do |sen| %>
            <% sen.mistakes.each do |mis| %>
            <td><%= mis.category %></td>:
            <td><%= mis.name %></td>
            </br>
            <% end %>
          <% end %> 
          </div> 
          </div> 

</div>
        
        
           
          <% @essay.sentences.where(paragraph_id: @paragraph.id).order(:id).each do |sen| %>

        
          <div id="<%="sen#{sen.id}" %>" class="tab-pane fade">

             <div id="essay_view"> 
             <%= sen.content %>
           </div></br>

              
              <%= f.fields_for :sentences, sen do |s| %>
                  <%= s.hidden_field :id, class: "sennum" %>

              <% i = 0 %>
                
                
                 <% Mistake.categories.each do |cat| %>
                  <div class="mistake_categories">
                 <%= cat.first %>
                
                <div class="mistake_names">
                 <%= s.collection_check_boxes :mistake_ids, Mistake.where(category: i), :id, :name do |b| %>
                
                     </br>
                      <%= b.check_box(class: "sentence_mistakes")%>
                      <%= b.label %>


                 <% end %>
                    <% i+=1 %>

                    </div>
                    </div>
                 <% end %>
               </br></br></br>

               <div class="unsaved_wim_tables">
                <table class="table-striped"id="unsaved_wim_table_<%= sen.id %>">

                </table> 
              </div>


                </br><h4>Recurrent Comments: </h4>
                <% s.collection_select :teacher_comment_ids, current_user.teacher_comments.order(:category), :id, :content, {include_blank: true}, {multiple: true}  %>


               <% TeacherComment.where(user_id: current_user.id).group_by(&:category).each do |cat| %>
                  <div class="mistake_categories">
                 <%= cat.first %>
                
                <div class="mistake_names">
                 <%= s.collection_check_boxes :teacher_comment_ids, TeacherComment.where(category: cat.first), :id, :content do |b| %>
                
                     </br>
                      <%= b.check_box(class: "check_box")%>
                      <%= b.label %>


                 <% end %>
                    <% i+=1 %>

                    </div>
                    </div>
                 <% end %>

              
              
               <div class="field">
                  </br></br></br>
                  <%= s.label "Specific Comment:" %><br>
                  <%= s.text_field :comment, size: "70%" %>
                </div>

              
                 

             </br>  


              
             <% if sen.words_in_mistakes.count > 0 %>
             <div class="pre_title">
              Saved Language Errors
             </div>

          

           
            <table class="table-striped" id="wim_table">
              <% sen.words_in_mistakes.each do |wim| %>

                  
                  <%= f.fields_for :words_in_mistakes, wim do |w| %>
                  
                  
                  <tr id="wim_<%= wim.id %>" class="wim"><td class= wim.><%= Mistake.find(wim.mistake_id).name %></td>

                  

                  <td> <%= w.collection_check_boxes :mistake_words, sen.word_list, :first.to_s, :last do |b| %>
                         <div class="word_choice">
                            <div class="check_box">
                            <div class="hide_check"><%= b.check_box %></div>
                            <div class="check_words"><%= b.label %></div>
                            </div>
                          </div>
                   <% end %></td>

                   <td><%= w.check_box :_destroy, class: "wimdelete" , id: wim.mistake_id %><%= "Delete"%></td>
                  </tr>

              <% end %>


                  <% end %></table><% end %>

                    

                
              <% end %></div>

            
             

          <% end %>
        

</div>


  <div class="actions">
    <% f.submit "Save Changes"%>
  </div>





<% end %>

<%= link_to 'Add Problem sentence', new_words_in_mistake_path, id: "new_problem_sentence", remote: true %>

<table class="table-striped"id="unsaved_wim_table_2">

</table>

</br></br>

<div id="recurrent">
<%= check_box_tag "new_comment" %>New Recurrent Comment</br>

  <div id="sencomm"> 
<%= render 'teacher_comments/form' %>
  </div>
</div>


<%-# __________________________________________________________________________ -%>
<% elsif current_user.role == 'Teacher' && @essay.essay_status == 'Feedback' %>

  <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-toggle="tab" href="#home">Paragraph Evaluation</a></li>
  <% i = 1 %>
  <% @paragraph.sentences.order(:id).each do |sen| %>
  <li><a data-toggle="tab" href=<%="#sen#{sen.id}"%>><%= "Sentence #{i}" %></a></li>
  <% i += 1 %>
  <% end %>
</ul>


<div class="tab-content">

  <div id="home" class="tab-pane fade in active">

    <div id="essay_view">
      <%= @paragraph.content %>
    </div>


     <% @essay.grade_elements.each do |ge| %>


            <% if ge.paragraph_id == @paragraph.id %>

            <%= ge.name %>
            <%= ge.teachereval %>/<%=ge.outof %>

          </br>
          

            <% end %>
         
        <% end %>



</div>
  
<%= render @paragraph.sentences.order(:id) %>


</div>



<%-# __________________________________________________________________________ -%>
<% elsif current_user.role == 'Student' && @essay.draftnum == 2 %>

<% original_essay = Essay.find(@essay.trackernum) %>
<% paragraphnum = @essay.paragraphs.order(:id).index(@paragraph) %>
<% original_paragraph = Paragraph.find(original_essay.paragraphs.order(:id)[paragraphnum]) %>

<h4>Original Paragraph:</h4>

      <div id="essay_view">
      <%= original_essay.paragraphs.order(:id)[paragraphnum].content %>
      </div>
  
<% if original_essay.grade_elements.where(paragraph_id: original_paragraph.id).count >0 %>
      <table>
       <tr> <th>Grades:</th></tr></tr><td></td></tr>
      <tr><th>Criteria</th><th>Grade</th></tr>
      <% original_essay.grade_elements.where(paragraph_id: original_paragraph.id).each do |ge| %>
      <tr>     
        
        <td><%= ge.name %></td>
        <td><%= ge.teachereval %>/<%= ge.outof %></td>
      
      </tr>
      <% end %></br>
      </table>
<% end %>

<h4>Teacher Comments:</h4>
<table>
<tr><%= original_essay.paragraphs.order(:id)[paragraphnum].comment %></br>
<% original_essay.paragraphs.order(:id)[paragraphnum].teacher_comments.each do |tc| %>
<%= tc.content %></br>
<% end %>
</tr>
</table>


<%= render @paragraph.sentences.order(:id) %>

<% elsif current_user.role == 'Student' && @essay.draftnum == 1 %>

<div id="essay_view">
<%= @paragraph.content %>
</div>

<% end %>


</div>

<% end %>
=======
<% if user_signed_in? %>

<div id="paragraph_view">

<%-# __________________________________________________________________________ -%>

<% if current_user.role == 'Teacher' && @essay.essay_status == 'Waiting for feedback' %>



<%= render "teacherwaitingforfeedback" %>



<%-# __________________________________________________________________________ -%>
<% elsif current_user.role == 'Teacher' && @essay.essay_status == 'Feedback' %>



<%= render "teacherfeedbackview" %>


<%-# __________________________________________________________________________ -%>
<% elsif current_user.role == 'Student' && @essay.draftnum == 2 %>


<%= render "studentfeedbackview" %>

<% elsif current_user.role == 'Student' && @essay.draftnum == 1 %>

<div class="essay_view">
<%= @paragraph.content %>
</div>

<% end %>


</div>



<% end %>



<% if current_user.role == "Teacher" && @essay.essay_status == "Waiting for feedback" %>
<div id="recurrent">
<%= check_box_tag "new_comment" %>New Recurrent Comment</br>

  <div id="sencomm"> 
<%= render 'teacher_comments/form' %>
  </div>
</div>

<% end %>
>>>>>>> fc43d6ed5e3286748e0fc862c39bcb2746308c94
