<!DOCTYPE html>
<html>
<head>
  <title>Errata</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css'>
</head>
<body>
	

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
    <a class="navbar-brand" id="logo" href=#>Errata</a>
  </div>
  <div class="navbar-collapse collapse">
  	<% if user_signed_in? %>

    <ul class="nav navbar-nav navbar-left">
       
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<% if current_user.role == 'Student' %>
	    	<% if current_user.classroom == nil %>
            
			<li><%= link_to "Join Class", classroom_path(current_user.teacher) %></li>
			<% else %>
			<li><%= link_to "My Class", classroom_path(current_user.classroom) %></li>
      <li> <%= link_to "Home", essays_path(current_user)%>  </li>
			<% end %>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name + " " + current_user.last_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">

          	<li><div class="dropdown_text"> Role: <%= current_user.role %></div></li>
          	<li>Teacher: <%= User.find(current_user.teacher).first_name + " " + User.find(current_user.teacher).last_name %></li>
			<% if current_user.classroom != nil %>
			<li>Classroom: <%= Classroom.find(current_user.classroom).school %> </li> 
			<% end %>
      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          
          </ul>
     	</li>
		
		<% else %>

      <li> <%= link_to "Home", classrooms_path(current_user.teacher)%>  </li>
      <li> <%= link_to "Mistake List", mistakes_path, :target => "_blank" %>  </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name + " " + current_user.last_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">

          	<li> Role: <%= current_user.role %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          
          </ul>
     	</li>

     	<% end %>
     	<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      
    	</ul>
    <% else %>
    	 <ul class="nav navbar-nav navbar-right">
    		<li><%= link_to "Sign Up", new_user_registration_path %></li>
			<li><%= link_to "Sign In", new_user_session_path %><li>
		</ul>
    <% end %>
  </div>
</nav>


<div class="yield">
<%= yield %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>



<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                  <li><%= link_to "Back", :back %></li>

                          <% if @essay != nil && @essay.paragraphs.count > 0 %>
                              <li><%= link_to "Classroom", classroom_path(User.find(@essay.user_id).classroom) %></li>
                              <li><%= link_to "Assignment", classroom_assignment_path(User.find(@essay.user_id).classroom, @essay.assignment_id) %></li>

                              <% if @paragraph != nil %>
                              <li><%= link_to "Essay", essay_path(@essay) %></li>
        
                             <% i = 1 %>
                              <% @essay.paragraphs.order(:id).each do |para| %>
                                <li><%= link_to i, essay_paragraph_path(@essay, para.id ) %></li> 
                                <% i += 1 %>
                              <% end %>
                            

                          <% else %>
                              <% i = 1 %>
                              <% @essay.paragraphs.order(:id).each do |para| %>
                                <li><%= link_to i, essay_paragraph_path(@essay, para.id ) %></li> 
                                <% i += 1 %>
                              <% end %>
                            <% end %>
                            </ul>

                          <% if current_user.role == 'Teacher' && @essay.essay_status == 'Waiting for feedback'%>
                             <ul class="nav navbar-nav navbar-right">
                            <li><%= link_to 'Give Feedback', essay_give_feedback_path(@essay), method: :patch %></li></ul>
                          <% end %>
                        <% end %>

                        <% if @assignment != nil %>
                            <li><%= link_to "Classroom", classroom_path(Classroom.find(@assignment.classroom_id)) %></li>
                        <% end %>


                </ul>
            </div>
          	<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
         
            </div>

        </div>
    </div>
</footer>

<% end %>

</body>
</html>

