<% @student = User.find(@user) %>
<h1>Student Progress: <%= @user.first_name%>  <%= @user.last_name%></h1> 

<% afg = "" %>
<% myarray =[] %>
<% i=0 %>

<% Mistake.categories.each do |cat| %>
		  <% afg += "{name: \"#{cat.first}\", data: {" %>
		  <% @student.essays.where(draftnum: 1).order(:id).each do |ess| %>

		  <% if cat.last == 0 %>
		  	<% afg += "\"#{ess.created_at}\":#{ess.mistakes.where(category: cat).count}" %>
		  <% else %>
		  	<% afg += "\"#{ess.created_at}\":#{ess.mistakes.where(category: cat).count - ess.mistakes.where(category: 0).count}" %>
		  <% end %>
				  <% if ess != @student.essays.order(:id).where(draftnum: 1).last %>
				  <% afg += ", " %>
				  <% end %>
		<% end %></br>
		<% afg += "}}" %>
		<% myarray[i] = eval(afg) %>
		<% i += 1 %>
		<% afg ="" %>
		
<% end %>


<div class="graph">

<%= line_chart myarray %>
</div>

<% Mistake.all.order(:category).each do |mis| %>

<% Essay.where(user_id: @student).each do |e| %>
<% e.sentences.includes(:mistakes).where(mistakes: { id: mis.id }).each do |sen| %></br>
<%= mis.category %>/<%= mis.name %>: <%= sen.content  %>
<% end %>
<% end %>

<% end %>
